.git
.github
.env
.env.*
.idea
.vscode
node_modules
bootstrap/cache/*.php
public/build
public/hot
storage/logs/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
vendor
*.log
Dockerfile*
compose*.yaml
compose*.yml
